<div class="p-formgroup-inline">
    <div class="p-field" style="width: 90%">
        <p-breadcrumb [model]="items" [home]="home" (onItemClick)="restart()"></p-breadcrumb>
    </div>
    <div style="margin-top: 10px; margin-right: 15px;">
        <button pButton type="button" icon="pi pi-info" class="p-button-raised p-button-rounded"></button>
        
    </div>
    <div style="margin-top: 10px;">
        <button pButton type="button" icon="pi pi-user" class="p-button-raised p-button-rounded"></button>
    </div>
</div>
