<div class="row" style="margin-top: 5px; height: 100%;">
    <div class="column" class="container" style="float: left; width: 40%; height: 100%;" >
        <div>
            <app-basic-information></app-basic-information>
        </div>
    </div>
    <div class="column" style="float: left; width: 50%;">
        <app-configuration></app-configuration>
    </div>
</div>