<h2>{{features}}</h2>
<div class="p-field p-grid">
    <label for="" class="p-col-fixed" style="width:100px">Name</label>
    <div class="p-col">
        <input type="text" pInputText [(ngModel)]="name" (change)="newName()"/> 
    </div>
</div>
<div class="p-field p-grid">
    <label for="lastname3" class="p-col-fixed" style="width:100px">Description</label>
    <div class="p-col">
        <textarea id="Description"  type="text" pInputTextarea [(ngModel)]="description" (change)="newDescription()"></textarea>
    </div>
</div>