<div class="card" style="width: 100%;">
    <ng-container *ngIf="items.length > 2; else mainPage">
        <div class="p-formgroup-inline">
            <div class="p-field" style="width: 90%">
                <h2>{{features}}</h2>
            </div>
            <div style="margin-bottom: 10px; margin-top: 20px;">
                <button pButton (click)="showDynamicDialogAdd()" type="button" label="" icon="pi pi-plus" class="p-button-text"  iconPos="right"></button>      
            </div>
        </div>
        <p-table [value]="entities">
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon></th>
                    <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
                    <th pSortableColumn="description">Description<p-sortIcon field="description"></p-sortIcon></th>
                    <th>Actions</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
                <tr>
                    <td>{{product.id}}</td>
                    <td>{{product.name}}</td>
                    <td>{{product.description}}</td>               
                    <td>
                        <button pButton type="button" label="" icon="pi pi-eye-slash" class="p-button-text"></button>
                        <button pButton type="button" label="" icon="pi pi-pencil" class="p-button-text" (click)="showDynamicDialogEdit(product)"></button>
                        <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
                        <button pButton type="button" (click)="confirm(product.id)"label="" icon="pi pi-trash" class="p-button-text"></button>                 
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </ng-container>
</div>
<ng-template #mainPage>
    <p style="font-size: larger; font-weight: 200;">
        Welcome to the managment platform.
    </p>
</ng-template>