<app-breadcrumb></app-breadcrumb>
<div class="row" style="margin-top: 5px; height: 100%;">
    <div class="column" class="container" style="float: left; width: 25%; height: 100%;" >
        <div>
          <app-panel-menu class="box box-1"></app-panel-menu>
        </div>
    </div>
    <div class="column" style="float: left; width: 55%;">
        <app-tenants></app-tenants>
    </div>
</div>