<h2>{{features}} configuration</h2>
<div class="p-field p-grid">
    <label for="" class="p-col-fixed" style="width:100px">CPU</label>
    <div class="p-col">
        <input type="text" pInputText [(ngModel)]="cpu"/> 
    </div>
</div>
<div class="p-field p-grid" style="margin-top: 15px;">
    <label for="" class="p-col-fixed" style="width:100px">Memory</label>
    <div class="p-col">
        <input type="text" pInputText [(ngModel)]="memory"/> 
    </div>
</div>
<div class="p-field p-grid" style="margin-top: 15px;">
    <label for="" class="p-col-fixed" style="width:100px">Storage</label>
    <div class="p-col">
        <input type="text" pInputText [(ngModel)]="storage" /> 
    </div>
</div>
<div class="p-d-flex" style="margin-left: 125px;">
    <div class="p-mr-2 p-order-3 p-order-md-2">
        <button pButton label="Cancel" type="button"></button>
    </div>
    <div class="p-mr-2 p-order-1 p-order-md-3">
        <button pButton label ="Create" type="button" (click)="create()" ></button>
    </div>
</div>


